<!--
  Generated template for the ShowPic page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pic.title}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>     
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-img src="{{picUrl}}"></ion-img>
    <ion-spinner></ion-spinner>
    <ion-card-content>
      <ion-note>
        Taken on 12/12/2016
      </ion-note>
      <p>
        [show position on the map]
      </p>
    </ion-card-content>
    
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small *ngIf="parent !== 'collection-details'">
          <ion-icon name="heart"></ion-icon>
          <div>Add to collection</div>
        </button>
        <button ion-button icon-left clear small *ngIf="parent == 'collection-details'">
          <ion-icon name="trash"></ion-icon>
          <div>Remove from collection</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="share"></ion-icon>
          <div>Share</div>
        </button>
      </ion-col>
    </ion-row>   
  </ion-card>

</ion-content>
