<!--
  Generated template for the MediaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>mappic - Media</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>

</ion-header>


<ion-content>
  
  <ion-list>
    <ion-list-header>
      Flickr
    </ion-list-header>
  </ion-list>
  <ion-grid>
    <ion-row wrap>
      <ion-col *ngFor="let pic of flickrPics">
        <ion-avatar item-left>
          <ion-img src="{{pic.url_q}}"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div *ngIf="(instaPics && instaPics.length>0)">
    <ion-list>
      <ion-list-header>
        Instagram
      </ion-list-header>
    </ion-list>  
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let pic of instaPics">
          <ion-avatar item-left>
            <ion-img src="{{pic.images.thumbnail.url}}"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
